header {
  padding: 5% 10%;
}

.nav-link {
  margin: 0 1.5rem;
  color: white;
  font-size: 2rem;
  color: aliceblue;
  font-size: xx-large;
  font-weight: bolder;
  /* text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff; */
}

.navbar-nav {
  text-align: right;
  color: aliceblue;
}

.container-fluid {
  font-size: 1.2rem;
}

.collapse {
  padding: 0 0 0 50%;
  text-align: right;
}

.container-fluid .navbar-brand {
  font-size: 2rem;
  color: aliceblue;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
